<div class="row">
  <p id="notice" class="text-center"><%= notice %></p>
</div>
<div class="row">
  <div class="col-sm-6">
    <h1>Todos</h1>
  </div>
  <div class="col-sm-6 text-right">
    <%= link_to 'New Todo', new_todo_path, class:"btn btn-success" %>
  </div>
</div>
<div class="row">
  <div data-controller="drag" data-drag-url="todos/:id/move">
    <% @todos.order(position: :asc).each do |todo| %>
      <div data-id="<%= todo.id %>" class="card card-body mb-4">
        <%= todo.description %>
        <%= todo.position %>
      </div>
    <% end %>
  </div>
</div>
