<div class="row">
  <p id="notice"><%= notice %></p>
</div>
<div class="row">
  <p>
    <strong>Description:</strong>
    <%= @todo.description %>
  </p>
</div>

<div class="row">
  <p><strong>Position:</strong>
  <%= 'Position' @todo.position %></p>
  <%= @todo.id %></p>
</div>


  <%= link_to 'Edit', edit_todo_path(@todo) %> |
  <%= link_to 'Back', todos_path %>

